/Curso-em-Vídeo/OlaMundoSwing/target/
/Curso-em-Vídeo/OlaMundoJavaFX/nbproject/private/
/Curso-em-Vídeo/OlaMundoJava-fx/nbproject/private/
/Curso-em-Vídeo/OlaMundoJava-fx/build/
/Curso-em-Vídeo/OlaMundoJava-fx/dist/
