/Curso-em-Vídeo/OlaMundoSwing/target/
/Curso-em-Vídeo/OlaMundoJavaFX/nbproject/private/
/Curso-em-Vídeo/OlaMundoJava-fx/nbproject/private/
/Curso-em-Vídeo/OlaMundoJava-fx/build/
/Curso-em-Vídeo/OlaMundoJava-fx/dist/
/Curso-em-Vídeo/RelogioSwing/nbproject/private/
/Curso-em-Vídeo/RelogioSwing/build/
/Curso-em-Vídeo/TiposPrimitivos/nbproject/private/
/Curso-em-Vídeo/TiposPrimitivos/build/
/Curso-em-Vídeo/TesteTipos/nbproject/private/
/Curso-em-Vídeo/TesteTipos/build/
